body {
  background: #ffd663;
}

.page-container {

  display:flex;
  flex-direction:column;
  text-align:center;
}

form {


}

.form-input, select {

  margin-bottom: 5px;
  font-size:17px;
  padding:5px;
}

.inputs-container {
  display:flex;
  justify-content:center;
}

.left-container, .right-container {
  text-align:left;
  padding:15px;
}

.datepicker-container input {
  display:inline-block;
}

select {
  width:200px;
}

.submit-cv, .result-btn {
  background:none;
  padding:15px;
  border: 1px solid black;
  display: inline-block;
  margin:15px;
  font-size:15px;
}

.show-cvs {
  display:inline-block;
  text-decoration:none;
  font-size:15px;
  color:black;
  padding:15px;
  border:1px solid black;
}

.show-cvs:hover, .submit-cv:hover, .result-btn:hover {
   cursor:pointer;
   color:#cecece;
   background:black;
}

.datepicker-container {
  margin:20px;
  padding:20px;
}

.datepicker-container input {
  margin:20px;
  margin-right:3px;
}

.modal-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-box {
  margin-top:100px;
}

.modal-form{
  margin: auto;
  border:1px solid white;
  background: #acb4b3;
  padding:15px;
  width:50%;
  display:flex;
  flex-direction:column;
  text-align:center;
  position:relative;
}

.modal-form span {
  color:black;
  font-size:28px;
  font-weight:bold;
  position:absolute;
  top:0;
  right:10px;
}

.modal-form span:hover{
  font-size:30;
  color:orange;
  cursor:pointer;
}

.modal-form input {
  height:30px;
  margin-top:20px;
}

.modal-form p {
  margin:2px;
  font-size:18px;
}

.modal-form button {
  display:block;
  height:30px;
  width:50%;
  margin:15px auto;
}

div.errors {
  display:none;
}

.errors ul {
  list-style-type:none;
  color:white;
  background:red;
  padding:5px;
}

i.fas:hover {
  cursor:pointer;
}

.modal-university, .modal-skill {
  display:none;
}

.ui-datepicker {
    width: 300px;
    height: 300px;
    margin: 5px auto 0;
    font: 12pt Arial, sans-serif;
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);*/
}

    .ui-datepicker table {
        width: 100%;
    }

.ui-datepicker-header {
    background: #3399ff;
    color: #ffffff;
    font-family:'Times New Roman';
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
}

.ui-datepicker-title {
    text-align: center;
    font-size: 15px;

}

.ui-datepicker-prev {
    float: left;
    cursor: pointer;
    background-position: center -30px;
}

.ui-datepicker-next {
    float: right;
    cursor: pointer;
    background-position: center 0px;
}

.ui-datepicker thead {
    background-color: #f7f7f7;

    /*border-bottom: 1px solid #bbb;*/
}

.ui-datepicker th {
    background-color:#808080;
    text-transform: uppercase;
    font-size: 8pt;
    color: #666666;
    /*text-shadow: 1px 0px 0px #fff;*/
    /*filter: dropshadow(color=#fff, offx=1, offy=0);*/
}

.ui-datepicker tbody td {
    padding: 0;
    /*border-right: 1px solid #808080;*/
}

    .ui-datepicker tbody td:last-child {
        border-right: 0px;
    }

.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

    .ui-datepicker tbody tr:last-child {
        border-bottom: 0px;
    }

.ui-datepicker a {
    text-decoration: none;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    /*font-weight: bold;*/
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    /*text-shadow: 1px 1px 0px #fff;*/
    /*filter: dropshadow(color=#fff, offx=1, offy=1);*/
}

.ui-datepicker-calendar .ui-state-default {
      background: linear-gradient(#999999, #737373);
      color:#ffffff;
      height:40px;
      width:40px;

}

.ui-datepicker-calendar .ui-state-hover {
    background: #33adff;
    color: #FFFFFF;
}

.ui-datepicker-calendar .ui-state-active {
    background: #33adff;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    color: #e0e0e0;
    text-shadow: 0px 1px 0px #4d7a85;
    border: 1px solid #55838f;
    position: relative;
    margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
    background: #D6E4BE;
    color: #000;
}
